<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
 <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
 <add key="FKSolutions-Nexus" value="https://nexus.devfksolutions.com.br/repository/fksolutions-nuget/" />
</packageSources>
</configuration>
